body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#title{
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#description{
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(46, 45, 45);
}

.calculator-area{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 30px;
    /* display: flex; */
    flex-direction: column;
    /* gap: 10px; */
    height: 1150px;
    width: 800px;
}

div.screen{
    margin: 0;
    padding: 10px;
    width: auto;
    background-color: lightgray;
    flex: 1.5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

p#question, p#answer{
    text-align: right;
    margin: 0;
    border: 1px solid rgb(61, 61, 61);
    border-radius: inherit;
}
p#question{
    flex: 3;
    font-size: 9em;
}

p#answer{
    flex: 1;
    font-size: 3em;
}

.UI-box{
    justify-content: space-between;
}

.UI-box.box-1{
    flex:1;
    /* display: flex; */
}

.UI-box.box-2{
    flex:4;
    /* display: flex; */
}

.panel.numbers{
    /* display: flex; */
    flex-direction: column;
    flex: 3;
}

.panel.common{
    flex-direction: column;
    flex: 1;
}

.panel.buttons{
    flex: 1;
    width: auto;
}

button{
    flex: 1;
    background-color: rgb(60, 59, 59);
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 100px;
    border-radius: 30px;
}

#compute{
    flex:2;
    background-color: blue;
}

#zero{
    flex: 2;
}

.grayHover{
    background-color: lightgray;
}